<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HooFlowerButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2284B1101BFB08D3006AD898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2284B1291BFB08D4006AD898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2284B1341BFB08D4006AD898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
